
/* #no-results {
    display: none
}

#results {
    display: none
} */

/* CONTAINER */

#container {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 15px;
    box-shadow: inset 0 0 1px ;
    padding: 2rem;

}


/* FORM */

#form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 2.5rem
}

#search {
    flex-basis: 50%;
    max-width: 800px;
    margin-right: 3rem;
    border-radius: 5px;
    
}

#form button {
   flex-basis: 20%;
   max-width: 80px;
   border-radius: 5px;
}


/* USER INFO */

#user-data {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    line-height: 0.5rem

}

#picture img{
    height: 100px;
    width: 100px;
    
}


/* REPOS */

.repos {
    display: flex;
    flex-wrap: wrap;
}

#icons {
    margin-left: auto
}


