
/* /////////////// GENERAL /////////////// */

html, body {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: inherit
}


/* ///////////////  MAIN CONTAINER /////////////// */

#container {
    margin: 3rem auto;
    width: 60%;
    border-radius: 15px;
    box-shadow: 10px 10px 50px 12px #aaa;
    padding: 2rem;

}


/* ///////////////  FORM /////////////// */

#form {
    display: flex;
    justify-content: center;
    height: 4rem;
    margin-bottom: 10px
}

#search {
    flex-basis: 75%;
    max-width: 800px;
    margin-right: 2rem;
    border-radius: 5px;
    height: 2.5em;
    margin-bottom: 3px;
    padding-left: 1rem;
    font-size: 1rem
    
}

#form button {
   flex-basis: 20%;
   max-width: 100px;
   border-radius: 5px;
   height: 2.8rem;
   font-weight: 600;
   font-size: 1.1rem;
   background-color: rgba(226,226,226,1);
   
}

/* ///////////////  RESULTS SECTION /////////////// */

 #results {
    display: none
}  


/* ///////////////  HEADER WITH USER INFO /////////////// */

#user-data {
    display: inline-flex;
    justify-content: flex-start;
    

}

#picture img{
    height: 128px;
    width: 128px;
    border-radius: 3px
    
}

#fullname {
    font-size: 3rem;
    margin: 0;
    
}

#username {
    font-style: italic;
    font-size: 0.9rem;
    margin-bottom: 0;
   
}


/* ///////////////  LIST OF REPOS /////////////// */

.repos {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#icons {
    margin: auto 2rem auto auto
   
}

#repos-view > hr {
    border: solid 1px rgb(56, 55, 55);
}


/* ///////////////  ERROR MESSAGE /////////////// */

#no-results {
    display: none;
    background: rgb(250, 193, 187);
    border: solid 1px rgb(117, 54, 47);
    border-radius: 3px
}

#no-results h2 {
    color: rgb(117, 54, 47);
    padding-left: 2rem
}





